*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(106, 86, 116);
}
.page{
    background-color: rgb(231, 221, 241);
    padding: 15px;
    border: 3px solid rgb(177, 137, 152);
    border-radius: 15px;
}
h3{
    /* margin: 13px 15px; */
    text-align: center;
}
p{
    text-align: center;
}